################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GarageKept.Logger.js/.vs/GarageKept.Logger.js/v15
