################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GarageKept.Logger.js/.vs/GarageKept.Logger.js/v15
/.vs/VSWorkspaceState.json
/GarageKept.Logger.js/.vs/config/applicationhost.config
